<div class="row">

  <div class="col-md-6">
    <h2>Add Friends</h2>
    <% current_user_friends = [] %>
    <% current_user.friends.each do |friend| %>
      <% current_user_friends.push friend %>
    <% end %>
    <% current_user.inverse_friends.each do |inverse_friend| %>
      <% current_user_friends.push inverse_friend %>
    <% end %>
    <% @users.each do |user| %>
      <p>
        <% unless current_user_friends.include? user %>
          <% unless user == current_user %>
            <%= user.profile_name.capitalize %><br/>
            Level: <%= user.level %><br/>
            <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
          <% end %>
        <% end %>
      </p>
    <% end %>
 </div>

  <div class="col-md-6">
    <h2>Your Friends</h2>
    <% current_user.inverse_friendships.each do |friendship| %>
    <p>
      <%= friendship.user.profile_name.capitalize  %>
      Level: <%= friendship.user.level %><br/>
      <%= link_to "Code with me", friendship_path(friendship) %><br/>
      <%= link_to "Remove Friend", friendship, data: { confirm: "Are you sure?" }, method: :delete %>
    </p>
    <% end %>
    <% current_user.friendships.each do |friendship| %>
    <p>
      <%= friendship.friend.profile_name.capitalize  %><br/>
      Level: <%= friendship.friend.level %><br/>
      <%= link_to "Code with me", friendship_path(friendship) %><br/>
      <%= link_to "Remove Friend", friendship, data: { confirm: "Are you sure?" }, method: :delete %>
    </p>
    <% end %>
  </div>

</div>


