<!DOCTYPE html>
<html>
<head>
  <title>PairED</title>
  <!-- 
       Did you have an issue with fonts in production?  I don't think this
       will work on heroku.  What should work is:
       href='//fonts.googleapis.com/css?family=Arvo'
  -->
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<!-- Good job here.  Well designed layout -->
<%= render "layouts/navbar" %>

<div class="container body">
<%= yield %>
</div>
  
<%= render "layouts/footer" %>

</body>
</html>
